:root {
    --danger-text : '';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-container > div{
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    max-width: auto;
    max-height: 80%;
    
}

.container {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.img-container {
    min-width: 35vw;
    min-height: 100vh;
    background-color: rgb(195, 190, 190);
    background: url(./images/img-background.jpg);
    background-size: cover;
}

.form-container {
    width: auto;
    min-height: 100vh;
    background-color: rgb(248, 248, 248);
}

.form-container > h3 {
    margin: 50px 50px 30px;
}

.form {
    padding: 20px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4px rgb(208, 205, 205);
    position: relative;
}

.form > h3 {
    margin: 0 0 20px;
}

.form-controls form {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    font-size: 0.8rem;
}

.form-controls form > div {
    display: flex;
    flex-direction: column
}

.form-controls form > div > input {
    padding: 3px;
    border-radius: 4px;
    border: 1px solid rgb(222, 219, 219);
    width: 200px;
    margin: 0 50px 20px 0;
}

input:focus {
    outline: 1px solid rgb(119, 119, 255);
    box-shadow: 3px 3px 4px rgb(178, 178, 178);
}

.danger {
    outline: 1px solid red;
}


label[for='password'] {
    position: relative;
}

label[for='password']::before {
    position:absolute;
    content: var(--danger-text);
    color: red;
    top: 40px;
}

button[type='submit'] {
    position: absolute;
    bottom: -70px;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgb(89, 134, 100);
    border: none;
    color: white;
    font-weight: bold;
}

button[type='submit']:hover {
    background-color: rgb(109, 164, 123);
}

.login a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(47, 97, 47)
}

.login {
    padding: 80px 50px;
}